mixin fetchServiceSlider(services)
    // start service section
    section#about.section-main
        // start intro section with icon box
        section.dark-section.overflow-hidden.boderd-intro-imodules
            .section-common-space.text-center
                h2 Services
                .container
                    .row
                        if services
                            each service, index in services
                                .col-sm-6
                                    // start bordered icon box
                                    .single-imodule.imodule-centerd.rbodard-imodule.wow.fadeInUp(data-wow-duration='1s')
                                        .icon-box
                                            i(class=service.icon)
                                        .ic-module-content
                                            h3.imodule-title=service.title
                                            p=service.briefDescription
                                    // end bordered icon box

        // end intro section with icon box
    // end service section
mixin fetchService(services)

    each service, length in services
        div
            h2=service.title
            .row(id=service.slug)
                .col-sm-6
                    .cover
                        img(src=service.src)
                .col-sm-6
                    =service.briefDescription

